@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Fredoka:wght@500&family=Inter:wght@300&family=Kalnia&family=Oi&family=Pompiere&family=Poppins:wght@100;300;500&family=Quicksand:wght@300&family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
}
body{
    background-image: url("https://w0.peakpx.com/wallpaper/454/74/HD-wallpaper-vector-set-icons-with-foods-doodle-vector-with-foods-icons-on-black-background-vintage-food-set-icons-sweet-elements-background-for-your-project-menu-cafe-shop-6823933-vector-art-at-vecteezy.jpg");
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo_title img{
    width:150px;
    padding-left:330px;
    
}
.logo_title h1{
    font-size: 70px;
    font-family: 'Kalnia', serif;
    font-weight: 600;
    text-align: center;
    color:white;
}
.logo_title p{
    width:700px;
    padding-top:20px;
    padding-left:100px;
    text-align: center;
    font-size:25px ;
    color:white;
}
.search{
    padding-top:50px;
    padding-left:300px;
    padding-bottom:50px;
    
}
#search_bar{
    border-radius:20px;
    border:1px solid black;
    height:40px;
    width:130px;
    margin-right:20px;
    padding-right:20px;
    padding-left:5px;
    font-size:18px;
}
button{
    background-color: white;
    border:1px solid black;
    width:55px;
    height:30px;
    padding:3px;
}
button:hover{
    background-color: black;
    border:1px solid white;
    color: white;
    cursor: pointer;
}
#random-image{
    width:325px;
    padding-bottom:20px;
}